<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="style.css">
<title>Login</title>
<body>
	<div class="login">
		<form action="#" th:action="@{login/submit}" th:object="${usuario}" method="post">
			<header class="errorLogin">Inicio de sesion</header>
			<p>
				<input type="text" name="usuario" id="username" placeholder="Usuario" th:field="*{nombre}" >
			</p>
			<p>
				<input type="password" name="password" placeholder="Password" th:field="*{password}">
			</p>
			<input type="submit" value="Login" />
		</form>
	</div>
	<div>
	</div>
</body>
</html>

			
