<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Listado de usuarios</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Listado de usuarios</h1>
    <table>
    	<thead>
    		<tr>
    			<th>id</th>
    			<th>Nombre</th>
    			<th>Passowrd</th>
    			<th>Email</th>
    			<th>Teléfono</th>
    			<th>Direccion</th>
    	</thead>
    	<tbody>
    		<tr th:each="usuario : ${listaUsuarios}">
    			<td th:text="${usuario.id}"/>
    			<td th:text="${usuario.nombre}"/>
    			<td th:text="${usuario.password}"/>
    			<td th:text="${usuario.email}"/>
    			<td th:text="${usuario.telefono}"/>
    			<td th:text="${usuario.direccion}"/>
    	</tbody>
    </table>
</body>
			</html>