<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="../style.css">
<title>Editar Pedido</title>
<body>
	<form action="#" th:action="@{/edit/submit}" 
   		th:object="${pedido}" method="post">
   		<table>
   		
   			<tr>
   				<td><label>ID</label></td>
   				<td>
   					<input type="text" name="id" th:field="*{id}" th:attrappend="readonly=${pedido.id > 0} ? 'readonly' : null"/>
   				</td>
   			</tr>
   			
   			
   		<tr th:each="product, stat :*{productos}">
   			<td><label>Prod / Cantidad</label></td>
   				<td>
   				     <input readonly th:field="*{productos[__${stat.index}__].producto.nombre}"/>
       				 <input th:field="*{productos[__${stat.index}__].cantidad}"/>
       				 <input hidden readonly th:field="*{productos[__${stat.index}__].id}"/>
       				 <input hidden readonly th:field="*{productos[__${stat.index}__].pedido}"/>
       				 <input hidden readonly th:field="*{productos[__${stat.index}__].producto}"/>
       				 
    			</td>
			</tr>

   				
   			<tr>
   				<td><label>Direccion</label></td>
   				<td>
   					<input type="text" th:field="*{direccion}"/>
				</td>
   			</tr>
   			
   			<tr>
   				<td><label>Telefono</label></td>
   				<td><input type="text" th:field="*{telefono}"/></td>
   			</tr>
   			
   			<tr>
   				<td><label>Email</label></td>
   				<td>
   					<input type="text" th:field="*{email}"/>
				</td>
   			</tr>
   			
   			<tr>
   				<td><label>Fecha</label></td>
   				<td>
   					<input readonly type="text" th:field="*{fechaCompra}"/>
				</td>
   			</tr>
   			<tr>
   				<td><input type="submit" value="Aceptar"/></td>
   			</tr>
   
   		</table>
   	</form>
</body>
</html>

			
