<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="style.css">
<body>
<html>
<link rel='stylesheet' href='/ProyectoServlet/HTML/style.css'>
<body>
<a href="/"> 
	<input class="cerrar" id="salir" type="submit" value="Cerrar sesión"/>
</a>
<a href="/nuevopedido"> 
	<input type="submit" class="continuar"  value="Volver a seleccionar productos" th:if="${hayproducto == 0}"/>
</a>
</br>
</br>
	<h3 class="text" id=welcome th:if="${hayproducto > 0}" >Este es el resumen de su pedido</h3>
	<h1 class="error" id=error th:if="${hayproducto == 0}" >No ha seleccionado ningun producto, vuelva y seleccione al menos 1.</h1>
	<br />
	<table border='1' id='tablaCarrito' th:if="${hayproducto > 0}">
		<tr>
			<th>Producto</th>
			<th>Cantidad</th>
			<th>Precio</th>
		</tr>
		<tr th:each="producto : ${productos}">
			<td th:text="${producto.nombre}"></td>
			<td th:text="${producto.cantidad}"></td>
			<td th:text="${producto.precio + '$'}"></td>
		</tr>
	</table>
		<table border='1' id='tablaCarrito' th:if="${hayproducto > 0}">
		</br>
		</br>
		<tr>
			<th>Total a Pagar</th>
		</tr>
		<tr>
			<td th:text="${total + '$'}"></td>
		</tr>
	</table>

	<form action="#" method="post" th:action="@{resumen/submit}">
		<table border=0 th:if="${hayproducto > 0}">
			<header>
				<br /><h3 class="text">Elige una opcion de envio</h3>.
			</header>

			<br />
			<tr>
				<td><input type=radio name=envio value=domicilio th:checked="${domicilio  == 'domicilio' ? false: true}"> Envio a
					Envio a su domicilio. (2,50$)</td>
			</tr>

			<tr>
				<td><input type=radio name=envio value=correo th:checked="${correo  == 'correo'}"> Envio a
					su oficina de correos mas cercana. (1,25$)</td>
			</tr>

			<tr>
				<td><input type=radio name=envio value=tienda th:checked="${tienda  == 'tienda'}">
					Recogida en una de nuestras tiendas. (Gratuito)</td>
			</tr>
		</table>
		<input type=submit id=btnResumen value=Tramitar th:if="${hayproducto > 0}">
	</form>



</body>
</html>